/******************************************
/* BASE STYLES
/*******************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", "sans-serif";
  font-weight: 500;
  font-size: 0.81rem;
  line-height: 1.3;
  background: rgba(237, 242, 248, 1);
  max-width: 1440px;
  margin: 0 auto;
}

.card--bg-purple,
.card--bg-gray,
.card--bg-black {
  color: rgba(255, 255, 255, 1);
}

.card--bg-white,
.card--bg-whitetoo {
  color: rgba(72, 85, 106, 1);
}

.card_quote {
  opacity: 0.7;
  line-height: 1.4;
}

span {
  opacity: 0.5;
}

.card_lead {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: 500;
}

h3 {
  font-weight: inherit;
}

.card-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.card--bg-purple img {
  border: 3px solid rgba(153, 110, 217, 1);
}

.card--bg-black img {
  border: 3px solid rgba(117, 65, 200, 0.9);
}

footer {
  text-align: center;
}
/******************************************
/* LAYOUT
/*******************************************/
.testimonials {
  margin: 100px 75px;
  padding: 20px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card--bg-purple {
  background: rgba(117, 65, 200, 1);
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
  grid-column: 1/3;
}

.card--bg-gray {
  background: rgba(72, 85, 106, 1);
  grid-column: 3/4;
}

.card--bg-white {
  background: rgba(255, 255, 255, 1);
  grid-column: 1/2;
}

.card--bg-black {
  background: rgba(25, 33, 46, 1);
  grid-column: 2/4;
  grid-row: 2;
}

.card--bg-whitetoo {
  background: rgba(255, 255, 255, 1);
  grid-column: 4/5;
  grid-row: 1/3;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
footer a {
  color: rgba(62, 82, 163, 1);
}

@media all and (max-width: 867px) {
  .testimonials {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
  }
  .card--bg-purple {
    grid-column: 1/2;
  }

  .card--bg-gray {
    background: rgba(72, 85, 106, 1);
    grid-column: 1;
    grid-row: 2/3;
  }

  .card--bg-white {
    background: rgba(255, 255, 255, 1);
    grid-column: 1;
    grid-row: 3/4;
  }

  .card--bg-black {
    background: rgba(25, 33, 46, 1);
    grid-column: 1;
    grid-row: 4/5;
  }

  .card--bg-whitetoo {
    background: rgba(255, 255, 255, 1);
    grid-column: 1;
    grid-row: 5;
  }
}
